#login-buttons {
  padding-top: 7px;
}

.login-display-name {
  vertical-align: middle;
  color: white;
}

.question-code {
  position: relative;
}

.question-code textarea {
  width: 460px;
  height: 200px;
}

.question-canvas {
  position: relative;
}

.question-canvas canvas {
  width: 350px;
  height: 300px;
  border: 1px solid blue;
  margin-top: 4px;
  margin-bottom: 4px;
}

.question-output  {
   font-family: monospace;
   white-space: pre;
   padding: 10;
 }

.question-error {
  font-family: monospace;
  white-space: pre;
  color: red;
}

.question-printout {
  height: 13em;
  overflow: auto;
}

.testResults {
  height: 13em;
  overflow: auto;
  width: 310px;
}

.question-code {
    margin-top: 4px;
    margin-bottom: 4px;
}

 .codearea {
   font-family: monospace;
 }
 .worksheetList {
  position: relative;
}

.controlWorksheet {
  float: right;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: inline;
}

.controlWorksheet > a {
  display: inline !important;
}
.addWorksheetPlus {
  float: right;
}

.worksheetName {
  height: 2em !important;
  font-size: 20pt !important;
}

.chooseWorkshop {
  height: 2em !important;
  font-size: 20pt !important;
}

.markdown code {
  color: darkblue;
}


.replGutter {
  width: 2em;
  background-color: lightgrey;
  text-align: right;
}

.replOutput {
  background-color: lightgreen;
}